@import "../../../App.scss";

.account-details {
    // Header
    .header {
        margin-bottom: 16px;

        h5 {
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    // Body
    .body {
        form {
            p {
                font-size: 13px;
                margin-bottom: 0;
            }

            .form-control {
                height: 44px;
                font-size: 14px;
            }

            .form-control:focus {
                border: 1px solid #dfdfdf;
            }

            .error {
                border: 1px solid $primary !important;
            }

            .btn {
                height: 44px;
                color: #fff;
                font-size: 15px;
                font-weight: 700;
                background: $primary;
                padding: 10px 35px;
            }
        }
    }
}
