.search-with-suggestion-container {
    position: relative;

    .form-group {
        position: relative;

        .form-control {
            width: 100%;
            background: none;
            padding-left: 15px;
            padding-right: 45px;
            border-radius: 25px;
            border: 1px solid #dfdfdf;

            &:focus {
                border: 1px solid #dfdfdf;
            }
        }

        .icon {
            top: 5px;
            right: 10px;
            position: absolute;
            color: rgb(148, 148, 148);
        }
    }

    // Suggest container
    .suggest-container {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 9999;

        .card {
            padding: 0;
            overflow: hidden;
            border-radius: 6px;

            .item {
                width: 100%;
                padding: 10px;
                cursor: pointer;
                border-bottom: 1px solid #e9ecef;

                .img-container {
                    width: 50px;
                    overflow: hidden;

                    img {
                        min-width: 50px;
                    }
                }

                p {
                    font-size: 14px;
                    margin-bottom: 0;
                    margin-left: 10px;
                }

                &:hover {
                    background: #e9ecef;
                }
            }

            .message {
                p {
                    font-size: 14px;
                    font-weight: 700;
                    color: #fc5d35;
                    margin-bottom: 0;
                }
            }
        }

        @media (min-width: 992px) {
            min-width: 500px !important;
        }
    }
}
