@import "../../App.scss";

.fourOfour {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    img {
        width: 250px;

        @media (min-width: 576px) {
            width: 300px;
        }
    }

    .btn {
        color: #fff;
        font-size: 14px;
        margin-top: 5px;
        font-weight: 600;
        padding: 10px 35px;
        font-family: "Roboto", sans-serif;
        background: $primary;
    }

    .btn:hover {
        color: #fff;
    }

    @media (min-width: 576px) {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
